body {
    font-family: 'Poppins', sans-serif;
    background: #f5f7fa;
    padding: 20px;
}

/* HEADER */
.title {
    font-size: 24px;
    color: #1f4674;
    margin-bottom: 20px;
}

/* CARD LIST */
.list {
    display: grid;
    gap: 15px;
}

/* CARD */
.card-report {
    background: white;
    padding: 15px 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
    cursor: pointer;
    transition: 0.2s;
    border-left: 6px solid #226d71;
}

.card-report:hover {
    transform: translateY(-3px);
}

/* STATUS */
.status {
    font-size: 13px;
    font-weight: 500;
    color: #226d71;
}

/* POPUP */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

/* POPUP BOX */
.popup-content {
    background: white;
    width: 90%;
    max-width: 500px;
    padding: 25px;
    border-radius: 18px;
    animation: fadeIn 0.3s ease;
}

.popup-content h3 {
    color: #1f4674;
    margin-bottom: 10px;
}

.popup-content p {
    margin: 8px 0;
}

/* BUTTON */
.btn-close {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    border: none;
    background: #1f4674;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

/* ANIMASI */
@keyframes fadeIn {
    from {opacity: 0; transform: scale(0.9);}
    to {opacity: 1; transform: scale(1);}
}